/** Add css rules here for your application. */
.header {
	margin-top: 1em;
	margin-bottom: 0.7em;
	text-align: center;
	font-size: 2.5em;
}

#widgetContainer {
	display: block;
	text-align: center;
	margin: auto;
}

#infoContainer {
	font-size: 1rem;
	margin-left: 15%;
}

.serverResponseLabelError {
	color: red;
}
