<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlet context listener. Used to instantiate the dictionary on start-up. -->
	<listener>
		<listener-class>de.ws1819.colewe.server.Listener</listener-class>
	</listener>

	<!-- Servlets -->
	<servlet>
		<servlet-name>de.ws1819.colewe.Ordbok DictionaryService</servlet-name>
		<servlet-class>de.ws1819.colewe.server.DictionaryServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>de.ws1819.colewe.Ordbok DownloadService</servlet-name>
		<servlet-class>de.ws1819.colewe.server.DownloadServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>de.ws1819.colewe.Ordbok DictionaryService</servlet-name>
		<url-pattern>/Ordbok/DictionaryService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>de.ws1819.colewe.Ordbok DownloadService</servlet-name>
		<url-pattern>/Ordbok/downloadService</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Ordbok.html</welcome-file>
	</welcome-file-list>

</web-app>
